/* Global Properties */
/* html {
    scroll-behavior: smooth;
} */

body {
    background: #fff;
    font-family: "Baloo Tamma 2", cursive;
}

/* Main Heading Font */

.m-heading {
    font-family: "Roboto Slab", serif;
}

/* Navigation Style */

.navigation-link {
    border: 2px solid transparent;
}

.navigation-link:hover {
    text-decoration: none;
    border-bottom: 2px solid #808080;
    transition: 0.5s ease;
}

/* Main Body */

.main-container {
    min-height: 100vh;
}

.main_row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_row h1 {
    font-size: 3rem;
    text-align: right;
    transition: 0.5s ease-out;
}
.main_row h2 {
    text-align: right;
    font-weight: 600;
    transition: 1s ease-out;
}

.main_row img {
    width: auto;
    height: 30rem;
    border-radius: 80%;
}

.image {
    text-align: left;
    transition: 0.6s ease-in;
}