/* Global Properties */

html {
    scroll-behavior: smooth;
}

body {
    background: #fefefe;
    font-family: "Baloo Tamma 2", cursive;
}

/* Main Heading Font */

.m-heading {
    font-family: "Roboto Slab", serif;
}
/* Navbar style */

.navbar .navbar-nav .nav-link:hover {
  color: #f0ad4e;
}
@media only screen and (min-width: 960px) {
  .navbar .navbar-nav .nav-link {
    padding: 1em 0.7em;
  }
  .navbar {
    padding: 0;
  }
  .navbar .navbar-brand {
    padding: 0 0.7em;
  }
}
.navbar .navbar-nav .nav-link {
  position: relative;
}
.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #f0ad4e;
  color: transparent;
  width: 0%;
  content: '';
  height: 3px;
  transition: all 0.5s;
}
.navbar .navbar-nav .nav-link:hover::after {
  width: 100%;
}

/* Hero section style */


.main_row {
    min-height: 100vh;
    align-items: center;
}

.main_row h1 {
    font-size: 3rem;
    text-align: right;
}
.main_row h2 {
    text-align: right;
    font-weight: 600;
}

.main_row a button {
    color: #000;
    border-color: #000;
    font-weight: 600;
    font-size: 10px;
}

.main_row img {
    width: auto;
    height: 30rem;
    border-radius: 120px 20px 120px 20px;
    object-fit: cover;
}

.image {
    text-align: center;
}

/* About me section style */

.about_row {
    min-height: 100vh;
    align-items: center;
}

.smily {
    font-size: 3rem;
    text-align: center;
    padding-top: 50px;
}

/* My CV Section style */

.cv_row {
    min-height: 100vh;
}

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2);
}

.progress-section {
    margin: 40px 20px;
}

.history-heading {
    color: #fafafa;
    margin-bottom: 50px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Roboto Slab" , serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #f0ad4e;
}

.history-items {
    margin-bottom: 30px;
}

/* projects section */

.projects_row {
    min-height: 100vh;
}


/* Contact section */

.contact_row {
    min-height: 100vh;
    align-items: center;
}

#contact {
    border-radius: 0.5rem;
}

.contact-heading {
    font-family: "Roboto Slab" , serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
}


/* Footer section */

.cv-pdf i {
    font-size: 18px;
    color: #000;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #fafafa;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #000;
}
