/* Global Properties */

html {
    scroll-behavior: smooth;
}

body {
    background: #fefefe;
    font-family: "Baloo Tamma 2", cursive;
}

/* Main Heading Font */

.m-heading {
    font-family: "Roboto Slab", serif;
}

/* Navigation Style */


#navbar {
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.192);
  height: auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

li, a {
    font-family: "Baloo Tamma 2", cursive;
    font-weight: 500;
    font-size: 25px;
    color: #000;
    text-decoration: none;
}

button {
    font-family: "Baloo Tamma 2", cursive;
    font-weight: 500;
    font-size: 16px;
    color: #fefefe;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;

}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav_link {
    list-style: none;
}

.nav_link li {
    display: inline-block;
    padding: 0px 20px;

}

.nav_link li a {
    transition: all 0.3s ease 0s;
}

.nav_link li a:hover {
    color: #1E90FF;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #000;
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #1E90FF;
}

/* Banner style */

.main-container {
    min-height: 100vh;
}

.main_row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_row h1 {
    font-size: 3rem;
    text-align: right;
    transition: 0.5s ease-out;
}
.main_row h2 {
    text-align: right;
    font-weight: 600;
    transition: 1s ease-out;
}

.main_row img {
    width: auto;
    height: 30rem;
    border-radius: 120px 20px 120px 20px;
}

.image {
    text-align: left;
    transition: 0.6s ease-in;
}

/* About me section style */

#about {
    background: rgb(201, 228, 223);
    border-radius: 0.5rem;
}

.smily {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-out;
}

/* My CV Section style */

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2);
}

.progress-section {
    margin: 40px 20px;
}

.history-heading {
    color: #fafafa;
    margin-bottom: 50px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Roboto Slab" , serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #1E90FF;
}

.history-items {
    margin-bottom: 30px;
}

/* Contact section */

#contact {
    background: rgb(201, 228, 223);
    border-radius: 0.5rem;
}

.contact-heading {
    font-family: "Roboto Slab" , serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #1E90FF;
}


/* Footer section */

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 60px;
    margin: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
}

.cv-pdf i {
    font-size: 18px;
    color:#fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #1E90FF;
}

.social-links {
    padding-bottom: 15px; 
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #1E90FF;
}

#footer-details {
    padding: 15px;
}